.root {
    -fx-font-family: 'Consolas';
    -fx-font-size: 16;
    -fx-background-color: rgb(0, 0, 0);
    -fx-hgap: 100;
    -fx-vgap: 100;
}

.label {
    -fx-text-fill: rgb(116, 116, 116);
}

.text-field {
    -fx-text-fill: rgb(116, 116, 116);
    -fx-background-color: rgba(30, 30, 30, 0.842);
    -fx-prompt-text-fill: rgb(116, 116, 116);
    -fx-pref-width: 200;
    -fx-pref-height: 30;
}

#inputHeader {
    -fx-padding: 10;
    /* -fx-font-family: 'Courier New', monospace; */
}

.input {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-background-color: #1e1e1ed7;
    -fx-text-fill: rgb(116, 116, 116);
    -fx-prompt-text-fill: #747474;
    -fx-border-color: #5c5c5c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    /* -fx-font-family: monospace; */

}

#comboBox {
    /* -fx-font-family: monospace; */

    -fx-pref-height: 40px;
    -fx-background-color: #1e1e1ed7;
    -fx-border-color: #5c5c5c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.arrow-button {
    -fx-background-color: #1e1e1ed7;
}

.combo-box .text-field {
    -fx-prompt-text-fill: gray;
}

.combo-box .list-cell {
    -fx-text-fill: rgb(181, 181, 181);
    -fx-background-color: #000000d7;
}

.combo-box .list-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #4377cb;
}

.combo-box-popup {
    -fx-background-color: #000000d7;
    -fx-border-color: #3c3c3c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.combo-box .list {
    -fx-background-color: #1e1e1ed7;
    -fx-border-color: #5c5c5c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}


#fetchButton {
    /* -fx-font-family: monospace; */
    -fx-pref-height: 38px;
    -fx-background-color: #4377cb;
    -fx-text-fill: white;
    -fx-border-color: #4377cb;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.radio-container {
    -fx-border-color: #7a7a7a96;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-padding: 2px;
    -fx-display: inline-flex;
    -fx-max-height: 30px;
}

.custom-radio-button {
    -fx-padding: 5px 5px 5px 0px;
    -fx-background-color: transparent;
    -fx-cursor: pointer;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-text-fill: #5c5c5c;
    /* -fx-font-family: monospace; */
}

.custom-radio-button:selected {
    -fx-background-color: #7a7a7a96;
    -fx-text-fill: white;
}

.custom-radio-button .radio-button {
    -fx-opacity: 0;
    -fx-max-height: 30;
}

.custom-radio-button:selected .radio-button {
    -fx-opacity: 0;
    -fx-max-height: 30;
}

.stack-pane {
    -fx-opacity: 0;
    -fx-cursor: default;
    -fx-focus-traversable: false;
}

.arrow-button {
    -fx-background-color: #1e1e1ed7;
}

.arrow-button .arrow {
    -fx-shape: "M481-350q-8 0-14.5-2.5T455-361L255-561q-11-10-10.5-25.5T256-613q11-10 26-10t26 10l173 174 173-174q11-10 25.5-9.5T705-612q11 11 11 26.5T705-560L506-361q-5 6-11.5 8.5T481-350Z";
    -fx-stroke: #000000;
    -fx-stroke-width: 0.672;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-type: inside;
    -fx-background-color: #6a6a6ad7;
}

.dot {
    -fx-opacity: 0;
}

.radio {
    -fx-preferred-height: 0;
    -fx-preferred-width: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
    -fx-cursor: default;
    -fx-focus-traversable: false;
}

#dataContainer {
    -fx-padding: 10;
    /* -fx-font-family: 'Courier New', monospace; */
    -fx-text-fill: rgb(119, 119, 119);

}

.selected-highlight {
    -fx-background-color: rgba(0, 89, 255, 0.474);

    -fx-highlight-fill: rgb(53, 53, 53);

}

.codeArea {
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-background-color: #1e1e1ed7;
    -fx-border-color: #5c5c5c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-pref-height: 1000;
}

.codeArea .content {
    -fx-background-color: #c1c1c1d7;
}

.codeArea .text {
    -fx-font-size: 14;
}

.string {
    -fx-fill: #CE9178;
}

.number {
    -fx-fill: #16b887;
}

.boolean,
.null,
.keyword {
    -fx-fill: #4086ac;
}

.brace,
.comma,
.colon {
    -fx-fill: #9b9b9b;
}

.jsonKey {
    -fx-fill: #51b7ee;
}

.highlight {
    -fx-padding: 3;
    -fx-fill: #73d92f;
    -fx-background-color: rgb(99, 99, 99);
}

#findContainer {

}

#findHeader {
    -fx-pref-height: 40px;
    -fx-padding: 0 10 0 0;
    -fx-padding-right: 5;
    -fx-background-color: #1e1e1ed7;
    -fx-border-color: #5c5c5c;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-alignment: CENTER;
}

#findTextFieldContainer {
    -fx-alignment: CENTER;
}

#findField {
    -fx-background-color: #1e1e1ed7;
}

.matchButton {
    -fx-background-color: #1e1e1ed7;
    -fx-text-fill: #747474;
    -fx-width: 2px;
    -fx-padding: 6;
}

#findCountLabel {
    -fx-text-fill: #747474;
}

#toggleSearchButton {
    -fx-background-color: transparent;
    -fx-text-fill: #747474;
    -fx-padding: 6;
    -fx-pref-height: 32;
    -fx-pref-width: 30;
    -fx-max-height: 32;
    -fx-max-width: 30;
    -fx-min-width: 30;
    -fx-min-height: 32;
    -fx-transition: background-color 2s ease; /* Apply transition to background color */
}

#toggleSearchButton:hover {
    -fx-background-color: #1e1e1ed7;
}

#findSvg {
    -fx-fill: #9d9d9d96;
    -fx-stroke-width: 400; /* Increase the stroke width */
    -fx-scale-x: 0.035;
    -fx-scale-y: 0.035;
}
